nav{
    background-color: #1ca68d;
    box-shadow: 5px 5px 5px;
}

#elements{
    padding-left: 81%;
}

nav a{
  color: white;
}

body{
  background-image: url("../img/rev.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-group{
  padding-top: 1%;
  width: 42%;
  float: center;
}

.for{
  margin-top: 3%;
  margin-left: 36%;
}
